/* ---- General ---- */

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* ---- Menu & Header ---- */

.navbar-light {
  background-color: white;
}

.main {
  color: white;
  height: 100vh;
  background: url("../img/jakob-owens-212558-unsplash.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* ---- About ---- */

.about {
  margin: 8% auto 6% auto;
}

/* ---- Films ---- */

.films {
  padding-top: 3%;
  padding-bottom: 8%;
  background: rgba(211,211,211,.4);
}

/* ---- News ---- */

/*#newsCarousel {
	height: 300px;
}*/

.carousel {

}
/*.news {
  padding-top: 4%;
  padding-bottom: 5%;
}*/

/* ---- Reserve Ticket Section ---- */

.reserve-tickets {
  background: rgba(211,211,211,.4);
  padding-top: 4%;
  padding-bottom: 6%;
}

/* ---- Call To Action ---- */

.call-to-action {
  color: white;
  padding-top: 17%;
  padding-bottom: 12%;
  background: url("../img/karen-zhao-643916-unsplash.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

/* ---- Footer ---- */

/*@media screen and (min-width: 992px) {
  .footer .row:first-child; {
    justify-content: flex-center!important;
  }
}*/

.footer {
  padding-top: 10%;
  padding-bottom: 3%;
  background: rgba(211,211,211,.4);
}

.footer a {
  color: black;
}

.footer a:hover {
  color: grey;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer p {
  margin-top: 4%;
}